
* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  
}
body {
  display: flex;
  flex-direction: column;
  background-color: #82ca39;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-family: 'Mulish', sans-serif;
  background-color: #0aa3ef;
  color: coral;
}

h1 {
  display: flex;
  font-size: 80px;
}
/*this is for 18-23*/
nav ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*styling for background banner*/
.banner-image {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  min-height: 250px;
  align-items: flex-end;
  padding-right: 20px;
  padding-top: 200px;  
}

.banner-tag {
  display: flex;
  font-size: 50px;
  justify-content: flex-end;
  color: #0b0b45;
}

main {
  margin: 25px;

}

article {
  display:flex;
    margin: 0px 0px 15px 0px;
}


#about-me {
  display: flex;
  gap: 15rem;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
}

.label {
  width: 15%;
  border-right:double 5px;
  text-align: right;
  font-size: 200%;
  padding-right: 10px;
  display: flex;
  gap: 15rem;
  font-size: 40px;
}

.pickle {
  display: flex;
  gap: 15rem;
  font-size: 40px;
}

.extras {
  display: flex;
  font-size: 40px;
}

h2 {
  display: flex;
  font-family: 'Mulish', sans-serif;
  
}

article {
  display: flex;
  margin: 0px 0px 15px 0px;
} 

/*111 - 123*/
.contact{
  margin-left: 25px;
}

#contact-list {
display: flex;
gap: 25rem;
justify-content: space-evenly;
}














