
* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  
}
body {
  display: flex;
  flex-direction: column;
  background-color: #82ca39;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-family: 'Mulish', sans-serif;
  background-color: #0aa3ef;
  color: coral;
}

h1 {
  display: flex;
  font-size: 80px;
}
/*this is for 18-23*/
nav ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*styling for background banner*/
.banner-image {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  min-height: 250px;
  align-items: flex-end;
  padding-right: 20px;
  padding-top: 200px;  
}

.banner-tag {
  display: flex;
  font-size: 50px;
  justify-content: flex-end;
  color: #0b0b45;
}

main {
  margin: 25px;

}

article {
  display:flex;
    margin: 0px 0px 15px 0px;
}


#about-me {
  display: flex;
  gap: 15rem;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
}

.label {
  width: 15%;
  border-right:double 5px;
  text-align: right;
  font-size: 200%;
  padding-right: 10px;
  display: flex;
  gap: 15rem;
  font-size: 40px;
}

.pickle {
  display: flex;
  gap: 15rem;
  font-size: 40px;
}

.extras {
  display: flex;
  font-size: 40px;
}

h2 {
  display: flex;
  font-family: 'Mulish', sans-serif;
  
}

article {
  display: flex;
  margin: 0px 0px 15px 0px;
} 

/*111 - 123*/
.contact{
  margin-left: 25px;
}

#contact-list {
display: flex;
gap: 25rem;
justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
  h1 {
      font-size: 30px;
  }
  header section ul li a {
      font-size: 18px
  }
  .work2 {
      width: 100%;
  }
  h2 {
      font-size: 18px;
      width: 95px;
      height: 30px;
  }
  header {
      padding: 22px;
  }
  #bannerimage {
      height: 45px;
  }
  h3 {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 25px;
      color:#2b2d91;
  }
  .content {
      font-size: 18px;
  }
  .title {
      padding: 10px 0px 0px 0px;
  }
  #contactlinks ul li a {
      font-size: 18px;
  }
  .figcaption {
      position: absolute;
      bottom: -2%;
      width: 100%;
      padding: 7px;
      marin-bottom: 20px;
      background-color: #ce72e5;
      color: #80ded0;
      text-decoration: none;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  h4 {
      font-size: 20px;
      margin-bottom: 3px;
  }
  
  .figcaption p {
      font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  header {
      padding: 22px 22px 35px 22px;
  }
  h1 {
      position: absolute;
      font-size: 25px;
      top: 20%;
  }
  header section {
      top: 74%;
  }
  header section ul li a {
      font-size: 12px
  }
  #bannerimage {
      height: 35px;
  }
  h2 {
      font-size: 14px;
      width: 75px;
      height: 25px;
      bottom: 3px;
  }
  .chunk {
      display: block;
  }
  .label {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 5px;
      padding-bottom: 5px;
      border-right: none;
      border-bottom: solid;
      border-color:#2b2d91;
  }
  .bread {
      width: 100%
  }
  #contactlinks ul li {
      display: inline-block;
      margin-right: 20px;
  }
  
  #contactlinks ul li a {
      text-decoration: none;
      color: #2b2d91;
      font-weight: bold;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 11px;
  }













