* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  display: flex;
  flex-direction: column;
  background-color: #82ca39;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-family: 'Mulish', sans-serif;
  background-color: #0aa3ef;
  color: coral;
}

h1 {
  display: flex;
  font-size: 80px;
}

/*this is for 18-23*/
nav ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*styling for background banner*/
.banner-image {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  min-height: 250px;
  align-items: flex-end;
  padding-right: 20px;
  padding-top: 200px;
}

.banner-tag {
  display: flex;
  font-size: 50px;
  justify-content: flex-end;
  color: #0b0b45;
}

main {
  margin: 25px;

}

#about-me {
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
}

.label {
  width: 4%;
  text-align: right;
  font-size: 40px;
}

.label h2 {
  background-color: rebeccapurple;
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 5% 10% 0% 0%;
}
.sauce {
 width: 65%;
 padding-left: 5%;
}

.Me {
  width:20%;

}


#work {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
}

.bread {
  width: 65%;
  padding-left: 5%;
}

img {
  width: 100%;
}

.label {
  width: 5%;
  text-align: right;
  font-size: 200%;
  padding-right: 10px;
  display: flex;
  gap: 15rem;
  font-size: 40px;
}
/*work*/
h2 {
  display: flex;
  font-family: 'Mulish', sans-serif;

}

.meat {
    text-align: right;
    padding-right: 10px;
    display:block;
    flex-wrap:wrap;
    gap: 10rem;
    font-size: 40px;
}

.pickle {
  display: flex;
  gap: 15rem;
  font-size: 40px;
}

.cheese {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.extras {
  width: 45%;
}

h3 {
  display: flex;
  font-family: 'Mulish', sans-serif;
}

/*111 - 123*/
.label {
  display: flex;
  width: 15%;
  border-right: double 5px;
  text-align: right;
  font-size: 40px;
  padding: 0 15px;
}

#contact-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 40px;
}
